@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  --pink: #f18e89;
  --yellow: #efd582;
  --brown: #412d09;
  --lightPink: #f4a7a3;
  --darkPink: #ff6969;
  --green: #48ff48;
  --lightYellow: #f1db93;
  --inter: 'Inter';
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: var(--brown);
  font-family: var(--inter);
}

body div[id^='__next'] {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  font-weight: 500;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

textarea {
  border: none;
}

textarea:focus {
  outline: none;
}
